<div class="main">
  <div class="grid-container">
    <div class="item1">
<button class="button" onclick="jajdoit()">
Drop
</button>
    </div>
    <div class="item2">
<p id="sum">
  Sum: 0
</p>
    </div>
      <div class="item3">
      <p id="score">
      Score: 0
    </p>
        </div>

  </div>
  <div class="ball_list_container">
    <ul id="ball_container" class="ball_list">
    </ul>
  </div>
</div>
